header {
	height: 100vh;
	width: 20vw;
	background-color: blanchedalmond;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
}

main {
	margin-left: 20vw;
}

/* NavBAR */
nav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

img {
	width: 10rem;
}

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.card {
	border: 1px solid black;
	width: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	margin: 5rem;
}
